

  .example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }


  .maindiv {
    width: 100%;
    height: 100%;
    background-color:burlywood;
  }

  .card {
    position: absolute;
    left: 45%;
    margin-left: -50px;
    margin-top: 250px;
  }

  .error {
    color: red;
  }