

<div class="maindiv">
    <form [formGroup]="fileUploadForm">
        <div>
            <div class="card">
                <mat-card class="example-card">
                    <mat-card-content>
                        <div class="form-group">
                            <input type="file"
                                   formControlName="fileupload"
                                   (change)="upload($event.target.files)"
                                   required
                                   >
                        </div>
                    </mat-card-content>
                    <mat-card-actions>
                        <button style="margin-left: 100px;" type="submit" (click)="onSubmit()" mat-raised-button color="primary">Submit</button>
                    </mat-card-actions>
                  </mat-card>
            </div>
        </div>
    </form>
    
</div>